<!-- Generated via {{generated_via}} -->
<Project>
    <ItemGroup Condition="$(AssemblyName) == 'Assembly-CSharp'">
        <ContentFiles Include=".github/**/*.*"/>
        <ContentFiles Include=".vscode/**/*.*"/>
        <ContentFiles Include="Assets/Scripts/**/*.py"/>
        <ContentFiles Include="Assets/Scripts/**/*.j2"/>
        <ContentFiles Include="Cmd/**/*.*"/>
        <ContentFiles Include="Docs/**/*.*"/>
        <ContentFiles Include="Logs/**/*.*"/>
{% for root_file in root_files %}
        <ContentFiles Include="{{root_file}}" />
{%- endfor %}
    </ItemGroup>

    <ItemGroup Condition="$(AssemblyName) == 'Assembly-CSharp'">
        <Content Include="@(ContentFiles)"/>
    </ItemGroup>
</Project>
